#wrap {
  width: 100%;
}
.header {
  width: 100%;
  height: 39px;
  background: #f29004;
  color: white;
  font-size: 1.7rem;
  line-height: 39px;
  position: relative;
}
.header li {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.header li:nth-child(1) {
  width: 2.93%;
  height: 18px;
  left: 19.5px;
  background: url(../active/left.png) no-repeat;
}
.header li:nth-child(2) {
  width: 30%;
  left: 50%;
  right: 50%;
  margin-left: -15%;
  text-align: center;
}
.section_forgetP {
  width: 100%;
  margin-top: 33px;
}
.section_forgetP li {
  text-align: center;
}
.section_forgetP li input {
  width: 81.3%;
  height: 45px;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  padding-left: 4%;
}
.section_forgetP li:nth-child(2) {
  margin-top: 10px;
  text-align: left;
  margin-left: 7.2%;
}
.section_forgetP li:nth-child(2) input {
  width: 41.8%;
  padding-left: 4%;
}
.section_forgetP li:nth-child(2) button {
  color: #fff;
  width: 41.33%;
  background: #ea6c6c;
  border: none;
  border-radius: 5px;
  height: 45px;
  margin-left: 3.46%;
  cursor: pointer;
}
.section_forgetP li:nth-child(3) {
  margin-top: 10px;
}
.section_forgetP li:nth-child(3) .wrap_forget {
  width: 85.3%;
  border: 1px solid #ccc;
  margin: auto;
}
.section_forgetP li:nth-child(3) input:nth-child(1) {
  width: 96%;
  border: none;
  border-radius: 0;
  padding-left: 4%;
}
.section_forgetP li:nth-child(3) .splice {
  width: 92%;
  height: 1px;
  background: #ccc;
  margin-left: 4%;
  border: none;
}
.section_forgetP li:nth-child(3) input:nth-child(3) {
  width: 96%;
  margin-top: 0;
  border-radius: 0;
  border: none;
  padding-left: 4%;
}
.section_forgetP .comfirm_bt {
  color: white;
  text-align: center;
  width: 85.3%;
  height: 45px;
  background: #F29004;
  margin: auto;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 45px;
  margin-top: 112px;
  cursor: pointer;
}
.citySearch {
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 10px;
  background: #f2f2f2;
  padding-bottom: 10px;
}
.citySearch input {
  width: 82.66%;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding-left: 12%;
  font-size: 1.3rem;
}
.citySearch div {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../active/fang.png) no-repeat;
  background-size: 100%;
  top: 20px;
  left: 7.5%;
}
.hotSearch {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  display: none;
}
.hotSearch .hotSearch_txt {
  font-size: 1.3rem;
  color: #8e8e8e;
}
.hotSearch .message_search {
  width: 100%;
}
.hotSearch .message_search li {
  width: 19.33%;
  height: 28px;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: left;
  margin-left: 3%;
  margin-top: 16px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 28px;
  color: #8e8e8e;
}
.leave_words {
  width: 91%;
  height: 335px;
  border: 1px solid red;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
.leave_words .leave_words_top {
  width: 100%;
  height: 30px;
  background: #f2f2f2;
  font-size: 1.5rem;
  line-height: 30px;
}
.leave_words .leave_words_top h4 {
  color: #8E8E8E;
  margin-left: 3.5%;
  float: left;
}
.leave_words .leave_words_top .x {
  width: 11px;
  height: 11px;
  background: url(../active/x.png) no-repeat;
  background-size: 100%;
  float: right;
  margin-top: 10px;
  margin-right: 3%;
}
.leave_words .leave_words_mid {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.leave_words .leave_words_mid textarea {
  width: 90.19%;
  height: 214px;
  border: 1px solid #ccc;
  margin: auto;
  resize: none;
  overflow: scroll;
}
.leave_words .leave_words_footer {
  width: 23.42%;
  height: 28px;
  background: #f29525;
  line-height: 28px;
  text-align: center;
  color: white;
  font-size: 1.7rem;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
}
.search_lists_wrap {
  width: 100%;
}
.search_lists_wrap .search_lists {
  margin-top: 15px;
  margin-left: 1.6%;
}
.search_lists_wrap .search_lists li:nth-child(1) {
  width: 18.9%;
  float: left;
}
.search_lists_wrap .search_lists li:nth-child(1) img {
  width: 100%;
}
.search_lists_wrap .search_lists li:nth-child(2) {
  float: left;
  margin-left: 3%;
  font-size: 1.4rem;
}
.search_lists_wrap .search_lists li:nth-child(2) div:nth-of-type(2) {
  color: red;
  margin-top: 3px;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #ccc;
}
footer a {
  padding-top: 8px;
  width: 20%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #808080;
}
footer a:before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  background: url(../active/icon.png) no-repeat;
  background-size: 216px 226px;
}
footer a:nth-of-type(1):before {
  background-position: -71px -101px;
}
footer a.active:nth-of-type(1):before {
  background-position: -71px -78px;
}
footer a:nth-of-type(2):before {
  background-position: -47px -101px;
}
footer a.active:nth-of-type(2):before {
  background-position: -47px -78px;
}
footer a:nth-of-type(3):before {
  background-position: -24px -101px;
}
footer a.active:nth-of-type(3):before {
  background-position: -24px -78px;
}
footer a:nth-of-type(4):before {
  background-position: -96px -101px;
}
footer a.active:nth-of-type(4):before {
  background-position: -96px -78px;
}
footer a:nth-of-type(5):before {
  background-position: 0px -101px;
}
footer a.active:nth-of-type(5):before {
  background-position: 0px -78px;
}
/*# sourceMappingURL=2.forget_password.css.map */
